.director1image {
  width: 400px;
  height: 306px;
}
.director1image img {
  width: 400px;
  height: 306px;
  object-fit: cover;
}
.director1 h3 {
  font-size: 25px;
  font-weight: 500;
  color: black;
}
.director1 h6 {
  font-size: 20px;
  font-weight: 300;
  color: black;
  margin: 0;
}
.directors-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 4rem 8rem;
}
.jobname {
  text-align: center;
}
.director1 {
}
@media (max-width: 574px) {
  .directors {
    padding: 0rem;
  }
  .directors-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
  }
}
